apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ado-agent.fullname" . }}
  namespace: {{ include  "ado-agent.namespace" . }}
  labels:
    app: {{ include "ado-agent.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "ado-agent.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "ado-agent.name" . }}
    spec:
      containers:
      - name: {{ include "ado-agent.name" . }}
        image: {{ .Values.image.repository }}
        env:
          {{- with .Values.env }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          - name: AZP_KIND
            value: deployment
          - name: AZP_URL
            value: {{ .Values.global.url }}
          - name: AZP_POOL
            value: {{ .Values.global.pool }}
          - name: AZP_TOKEN
            valueFrom:
              secretKeyRef:
                name: ado-agent-pat
                key: token
          - name: AZP_STACK
            value: {{ .Values.global.stack }}
        volumeMounts:
        - mountPath: /var/run/docker.sock
          name: docker-volume
      volumes:
      - name: docker-volume
        hostPath:
          path: /var/run/docker.sock
